# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

woodpecker-ci.the-bare-metal-foundation.pp.ua {
    reverse_proxy woodpecker-server:8000
}

agent.woodpecker-ci.the-bare-metal-foundation.pp.ua {
    reverse_proxy h2c://woodpecker-server:9000
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
